/*отступы*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  margin-block: 0;
}
/*перещет области*/
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/*отключение обводки*/
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
/*делаем блочными некоторые теги*/
nav,
footer,
header,
aside {
  display: block;
}
/*Уравниваем поведение шрифтов и тд для разных браузеров (также запрещает самовольное увеличени шрифтов (айфон))*/
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/*Говоорим тегам наследовать семейство шрифта*/
input,
button,
textarea {
  font-family: inherit;
  display: block;
}

/*еще куча фич, таких как отклчение крестиков и отступов в разных браузерах*/
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

/*Обнуляем все заголовки*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
